<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DiaFree</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            
            <div class="navbar-header">
                <a style="color:white;" class="navbar-brand">DIAFREEAPP</a>

            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li>@Html.ActionLink("Odaberi obrok", "CreateMeal", "Home",null,new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Popis obroka", "Menu", "Home",null,new { @class = "nav-link" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right ">

                    @if (Session["userName"] != null)
                    {
                        <li class="nav-item"><a class="nav-link" style="color:#ffd800">Pozdrav @Session["userName"] !</a> </li>
                    }

                    <li class="nav-item">@Html.ActionLink("Registracija", "Register", "Account",null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Login", "Login", "Account",null ,new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Logout", "LogOut", "Account",null ,new { @class = "nav-link" })</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <div class="footer text-center ">
                <p>@DateTime.Now.ToShortDateString() | <span style="color:red;">WEB FORMS PROJEKT</span></p>
                <p>REPOSITORY - DIAFREE DATABASE</p>

            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
